{
    "banner"      : [
        "JBZoo Toolbox - Toolbox-CI",
        "",
        "This file is part of the JBZoo Toolbox project.",
        "For the full copyright and license information, please view the LICENSE",
        "file that was distributed with this source code.",
        "",
        "@package    Toolbox-CI",
        "@license    MIT",
        "@copyright  Copyright (C) JBZoo.com, All rights reserved.",
        "@link       https://github.com/JBZoo/Toolbox-CI"
    ],

    "output"      : "build/toolbox-ci.phar",

    "directories" : ["src"],
    "files"       : ["toolbox-ci.php"],
    "git-version" : "git-version",

    "finder"      : [
        {
            "in"      : "vendor",
            "name"    : "*.php",
            "exclude" : ["Tests", "tests", "test"]
        }
    ]
}
